#page__messages
  box-sizing: padding-box
  form
    padding: 10px
    border: 1px solid #ccc
    border-radius: 5px
    width: 100%
    input
      border: none
      outline: 0
      min-width: 400px
    button
      //border: 1px solid #ccc
      border-radius: 5px
      position: fixed
      padding: 10px
      left: 665px
      top: 90px
  .messages
    ul
      li
        background-color: #f1f1f1
        border: 1px solid #f1f1f1
        border-radius: 10px
        padding: 10px
        margin-top: 10px
