#page__messages
  box-sizing: padding-box
  form
    padding: 10px
    border: 1px solid #ccc
    border-radius: 5px
    width: 100%
    input
      border: none
      outline: 0
      min-width: 400px
    button
      //border: 1px solid #ccc
      border-radius: 5px
      position: fixed
      padding: 10px
      left: 665px
      top: 90px
