#page__messages
  box-sizing: padding-box
  form
    padding: 10px
    border: 1px solid #ccc
    border-radius: 5px
    width: 420px
    input
      border: none
      outline: 0
      min-width: 400px
    button
      //border: 1px solid #ccc
      border-radius: 5px
      position: fixed
      padding: 10px
      left: 665px
      top: 90px
  .messages
    width: 445px
    overflow-y: auto
    ul
      //width: 402px
      width: 380px
      //overflow-y: auto
      overflow-x: hidden
      word-wrap: break-word
      //list-style-type: none
      //list-style-position: outside
      //height: 100%
      li
        //display: inline-block

        background-color: #f1f1f1
        border-radius: 10px
        padding: 10px
        margin-top: 10px
        .input__message
          background-color: #f1f1f1
          border: 0
          font-size: 14px
          font-weight: bold
          width: 85%
@media screen and (max-width: 720px) 
  // #page__messages
  //   width: 90%
  //   margin: 0 auto
  //   form
  //     width: auto