body
    background-color: gainsboro
    color: black
    .title
        font-size: 14px
        text-transform: uppercase
        margin: 10px 0 3px
    .wrapper-item
        .input__text
            //border: 1px solid #eee
            outline: 1px solid #eee
            border: 0
            border-radius: 3px
            font-size: 14px
            color: #626262
            height: 35px
            width: 100%
            padding: 0
            //&::placeholder
            //    color: #bababa
        .button
            border: 0
            background-color: #00cfbd
            font-size: 14px
            padding: 5px 20px
            border-radius: 3px
    .page__menu
        border: 1px solid black
        width: 200px
        background-color: white
        height: 500px
    .page
        position: fixed
        top: 81px
        left: 220px
