body
    background-color: white
    color: black
    .title
        font-size: 14px
        text-transform: uppercase
        margin: 10px 0 3px
    .wrapper-item
        .input__text
            //border: 1px solid #eee
            outline: 1px solid #eee
            border: 0
            border-radius: 3px
            font-size: 14px
            //color: #626262
            color: black
            height: 35px
            width: 100%
            padding: 0
            //&::placeholder
            //    color: #bababa
        .button
            border: 0
            background-color: #00cfbd
            font-size: 14px
            padding: 5px 20px
            border-radius: 3px
    .page__menu
        //padding: 10px
        border: 1px solid #ccc
        width: 200px
        background-color: #f1f1f1
        position: fixed
        top: 69px
        left: 0
        height: 100%
        overflow: hidden
        color: black
        a
            display: block
            padding: 10px
            text-decoration: none
            color: black
            transition: 0.3s
            &:hover
                background-color: #ddd

    .page__header
        padding-left: 10px
        width: 100%
        border-bottom: 1px solid #ccc
        position: fixed
        top: 0
        left: 0
        //color: #00cfbd
        color: black
        background-color: #f1f1f1
    .page
        position: fixed
        top: 80px
        left: 212px
        //height: 100%
        //width: 100%
